<!-- <ng-template #content let-modal> -->
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <form
          class="form-horizontal"
          id="add-form"
          [formGroup]="editProject"
          (ngSubmit)="onSave(item)"
        >
          <div class="modal-header">
            <h4 class="modal-title" id="add-modal-label">EDIT PROJECT</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="onCancel()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="inputName">Project Name</label>
              <input
                type="text"
                id="inputName"
                class="form-control"
                formControlName="projectName"
              />
            </div>
            <div class="form-group">
              <label for="inputDescription">Project Description</label>
              <input
                type="text"
                id="inputDescription"
                class="form-control"
                formControlName="description"
              />
            </div>
            <div class="form-group">
              <label for="files">Team Members</label>
              <input
                type="file"
                id="files"
                multiple
                class="form-control"
                formArrayName="teamMember"
                (change)="onFileChange($event)"
              />
            </div>
            <div class="form-group">
              <label for="inputProgress">Progress</label>
              <input
                type="number"
                id="inputProgress"
                class="form-control"
                formControlName="progress"
              />
            </div>
            <div class="form-group">
              <label for="inputStatus">Status</label>
              <select
                id="inputStatus"
                class="form-control custom-select"
                formControlName="status"
              >
                <option selected disabled>Select one</option>
                <option>Canceled</option>
                <option>Success</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputCreated">Created</label>
              <input
                type="text"
                id="inputCreated"
                class="form-control"
                formControlName="created"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                type="submit"
                class="btn btn-success float-right"
                [disabled]="editProject.invalid"
              >
                Update Project
              </button>
            </div>
          </div>
        </form>

        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>
<!-- /.content -->
<!-- </ng-template> -->
